# --- Application ---
MYSQL_DSN=user:pass@tcp(127.0.0.1:3306)/exchange_rates?parseTime=true
HTTP_ADDR=:8080
LOG_LEVEL=info
FETCH_SOURCE_URL=https://www.bank.lv/vk/ecb_rss.xml

# --- OpenTelemetry ---
# All standard OTel env vars are honoured. The most common:
OTEL_SERVICE_NAME=exchange-rates
OTEL_EXPORTER_OTLP_ENDPOINT=localhost:4317
OTEL_EXPORTER_OTLP_PROTOCOL=grpc
# Set to "true" in test environments to disable telemetry export:
# OTEL_SDK_DISABLED=true
